.wrapper, html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #1A1A1B;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#container {
   
    height: 100%;
    width: 80%;
    color: black;
    background-color: white;
   
}

table, th, td {
    margin-top: 50px;
    border: 1px solid black;
}

td {
    padding: 10px 100px 10px 10px;
}

#header {
    background-color: red;
    display: flex;
    justify-content: center;
    
    padding: 50px;
    color: white;
    font-size: 5em;
}

.new-book {
    background-color: green;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
}

.new-book:hover {
    background-color: rgb(102, 134, 102);
}

form {
    margin-top: 40px;
    margin-left: 40px;
}

input {
    display: block;
    margin-bottom: 5px;
}